@model Quizz.Mvc.Web.Models.Quiz

@{
    ViewBag.Title = "Delete";
}

@Styles.Render("~/Content/Details.css")
<h2>Supprimer</h2>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="principale">
        <dt>
            @Html.DisplayNameFor(model => model.NbDeQuestions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbDeQuestions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDeCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDeCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Niveau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Niveau)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour", "Index")
        </div>
    }
</div>
