@model IEnumerable<Quizz.Mvc.Web.Models.Quiz>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/Tableaux.css")

<h2>Index</h2>

<p>
    @Html.ActionLink("Ajouter", "Create")
</p>
<table class="tableau">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NbDeQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDeCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Niveau)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NbDeQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDeCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Niveau)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
